.master {
    position: absolute;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex: auto;
    flex-direction: column;
    display: flex;
}

.header {
    background-color: #778375;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 35px;
    box-shadow: 0px 0px 10px #666;
}

.bodyCenter {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.authContainer {
    width: 350px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ddd;
    overflow-y: scroll;
}

.titleContainer {
    /* border-bottom: 1px solid #eee; */
    font-size: 18px;
    font-weight: bold;
    color: #333;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.loginContainer {
    padding: 10px;
}

.baseboard {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: #778375;
    font-size: 14px;
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
}

.logo {
    height: 30px;
}

.logoAuth {
    height: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.titleAuth {
    width: 100%;
    height: 60px;
    /* border-top: 1px solid #eee; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    color: #666;
}