.calendarContainer {
    height: 550px;
    min-height: 400px;
    width: 750px;
    min-width: 650px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 5px;
    background-color: #fafafa;
}