.master {
    display: flex;
    width: 100%;
    height: 50px;
    min-height: 50px;
    flex-direction: row;
    background-color: #778375;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.pathContainer {
    flex: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    font: 100;
    font-size: 20px;
    color: #eee;
}

.userContainer {
    display: flex;
    width: 150px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 18px;
    color: #eee;
    font-weight: 500;
}

.perfil {
    width: 40px;
    border-radius: 99px;
    margin-right: 10px;
    font-size: 18px;
}

.logoutButton {
    border: none;
    background: none;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 99px;
    transition: 0.5s;
}

.logoutButton:hover {
    background-color: rgba(0, 0, 0, 0.33);
}